<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Page Accueil </title>

    </head>
    <body>
        <p class="flotte">
            <img src="IMG2.jpg" alt="image1" style="display:inline-block;"/> <!-- Image à gauche -->
            <img src="IMG1.PNG" alt="image2" style="display:inline-block;"/> <!-- Image à droite -->
           
        </p>
        <p style="line-height:65px;">
        
        <h1 text-align="left"> SAD Goître </h1>
        
        <input class="favorite styled"
               type="button"
               value="Lancer la consultation"
               style="position: absolute; left: 250;">
       
        
    </p>


</body>
</html>