/********************************************************/
/* fiche CSS Examens                                    */
/********************************************************/
body {
    font-family: "Trebuchet MS";
}
h1 {
    position: fixed;
    top: 90;
    width: 400px;
    margin: 0 auto;
    padding: 150px;
}

.bouton {
    background-color: #4BB4B3;
    border: none;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    position: fixed;
    top: 16em;
    width: 200px;
    padding: 20px;
    margin: 10px;
    margin-left: 16%;
}

/* Pour la div de la page d'accueil'*/
#imgAccueil {
    /*width: 200px;
    display: block;*/
    margin-left: auto;
    margin-right: auto;
    float:right;
}

#bodyAccueil{
    background-color: #62E3E2;
}


.menu, .menu ul{list-style: none;text-align: center;z-index:999;padding: 0;margin: 0;}
.menu{width:1000px;margin:0px auto;margin-top:0px;}
.menu li{float: left;}
.menu li ul{position: absolute;width: 125px;left: -999em;z-index:999;}
.menu li:hover ul ul {left: -999em;}
.menu li:hover ul ul ul{left: -999em;}
.menu li:hover ul, .menu li li:hover ul,.menu li li li:hover ul{left: auto;min-height:1%;}
.menu li ul {border-top: 1px solid rgb(38,66,80);width:144px;margin-top:-1px;}
.menu li a {

    margin-right:4px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 0;
    -goog-ms-border-top-left-radius: 10px;
    -goog-ms-border-bottom-left-radius: 0;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;

    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -goog-ms-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.menu li ul a {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0;
    -goog-ms-border-top-left-radius: 0px;
    -goog-ms-border-bottom-left-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -goog-ms-border-radius: 0;
    border-radius: 0;
}

.menu li ul li a {width:125px;}
.menu li ul ul{margin: -34px 0 0 144px;min-height: 0;}
.menu a {color:white;background:rgb(38,66,80)  no-repeat;border-right: 1px solid rgb(38,66,80);border-bottom: 1px solid rgb(38,66,80);padding:7px 9px; display:block;text-decoration: none; font-weight:bold;font-family: arial;font-size: 14px;line-height: 14px;}
.menu a:hover{color:#191970;background:white;}
.menus a:hover {color:white;background:rgb(38,66,80)  no-repeat;}

table{
    border-collapse: collapse;
  border-top: 0.2px;
  min-width: 400px;
  width: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 5);
  margin: 30px auto;
}

th,
td {
  padding: 15px 20px;
  
}
tbody tr,
td,
th {
  border-bottom: 1px solid #f5f8f8ce;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #3ff9e1;
}
/* CSS pour les examens*/
.exa1men {

}

.comment {

}

.bloc {
    display: flex;
    flex-wrap: wrap;
}

/*Ajout*/
.plus {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 2px;
    background-color: #4BB4B3;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 2.5em;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texteajout {
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.4;
}