/********************************************************/
/* fiche CSS Examens                                    */
/********************************************************/
body {
    font-family: "Trebuchet MS";
    background-color: #191970;
    font-family: 'Open Sans', sans-serif;
    color: "6a859c";
    font-size: 16px;
    line-height: 20px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

.hero-section.centered {
    padding-top: 195px;
    padding-bottom: 195px;
    border-bottom: 4px solid #69b9ff;
    background-image: linear-gradient(180deg, rgba(46, 156, 255, 0.5), rgba(46, 157, 255,0.5));
    background-position: 0% 0%, 50% 50%;
    background-size: auto, cover;
    text-align: center;
}

.titre1{
    margin-bottom: 15px;
    font-size: 50px;
}

.hero-subheading{
    font-size: 18px;
}

.bouton {
    display: inline-block;
    margin-right: 10px;
    margin-left: 16%;
    padding: 10px;
    background-color: #69b9ff;
    border-radius: 4px;
    -webkit-transition: background-color 300ms;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Pour la div de la page d'accueil'*/
#imgAccueil {
    /*width: 200px;
    display: block;*/
    margin-left: auto;
    margin-right: auto;
    float:right;
}

#bodyAccueil{
    background-color: #62E3E2;
}


.menu, .menu ul{list-style: none;text-align: center;z-index:999;padding: 0;margin: 0;}
.menu{width:1000px;margin:0px auto;margin-top:0px;}
.menu li{float: left;}
.menu li ul{position: absolute;width: 125px;left: -999em;z-index:999;}
.menu li:hover ul ul {left: -999em;}
.menu li:hover ul ul ul{left: -999em;}
.menu li:hover ul, .menu li li:hover ul,.menu li li li:hover ul{left: auto;min-height:1%;}
.menu li ul {border-top: 1px solid rgb(38,66,80);width:144px;margin-top:-1px;}
.menu li a {

    margin-right:4px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 0;
    -goog-ms-border-top-left-radius: 10px;
    -goog-ms-border-bottom-left-radius: 0;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;

    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -goog-ms-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.menu li ul a {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0;
    -goog-ms-border-top-left-radius: 0px;
    -goog-ms-border-bottom-left-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -goog-ms-border-radius: 0;
    border-radius: 0;
}

.menu li ul li a {width:125px;}
.menu li ul ul{margin: -34px 0 0 144px;min-height: 0;}
.menu a {color:white;background:rgb(38,66,80)  no-repeat;border-right: 1px solid rgb(38,66,80);border-bottom: 1px solid rgb(38,66,80);padding:7px 9px; display:block;text-decoration: none; font-weight:bold;font-family: arial;font-size: 14px;line-height: 14px;}
.menu a:hover{color:#191970;background:white;}
.menus a:hover {color:white;background:rgb(38,66,80)  no-repeat;}

table, th, td {
    border: 1px solid black;
}
/* CSS pour les examens*/
.exa1men {

}

.comment {

}

.bloc {
    display: flex;
    flex-wrap: wrap;
}
