<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../css/CSS.css"/>
        <title>Page des examens</title>  
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="affichePatients.html"  th:href="@{../patient/show(idMedecin=${patient.medecin_patient.id_medecin})}">Patients</a></li>
                <li><a href="afficheAnamnese.html"  th:href="@{../anamnese/show(idPatient=${patient.id_patient})}" target="_blank">Données générales du patient</a></li>

                <li><div class="menus"><a href="#">Examens</a></div><ul>   
                        <li><div class="menus"><a href="#">Examens cliniques</a></div><ul>
                                <li><a href="formulaireExamenSignesGeneraux" th:href="@{../examen/addSignesGeneraux(idPatient=${patient.id_patient})}" target="_blank">Signes généraux</a></li>
                                <li><a href="formulaireExamenRegionCervicale" th:href="@{../examen/addregioncervicale(idPatient=${patient.id_patient})}" target="_blank">Examen région cervicale</a></li>
                                <li><a href="formulaireExamenOphtalmologique" th:href="@{../examen/addexamenophtalmo(idPatient=${patient.id_patient})}">Examen ophtalmologique</a></li>
                                <li><a href="formulaireExamenNeurologique" th:href="@{../examen/addexamenneuro(idPatient=${patient.id_patient})}" >Examen neurologique</a></li>
                                <li><a href="formulaireExamenAireGanglionnaire" th:href="@{../examen/addexamenaireganglionnaire(idPatient=${patient.id_patient})}">Examen aire ganglionnaire</a></li>
                            </ul></li>

                        <li><div class="menus"><a href="#">Examens paracliniques</a></div><ul>
                                <li><a href="formulaireExamenMorphologique" th:href="@{../examen/addexamenmorphologique(idPatient=${patient.id_patient})}">Examen morphologique</a></li>
                                <li><a href="formulaireExamenBiologique" th:href="@{../examen/addexamenbiologique(idPatient=${patient.id_patient})}">Examen biologique</a></li>
                                <li><a href="formulaireExamenSignesFonctionnels" th:href="@{../examen/addexamensf(idPatient=${patient.id_patient})}">Signe fonctionnel</a></li>
                            </ul>
                        </li>
                    </ul></li>

                <li><a href="page photos.html" target="_blank">Photos</a></li>

                <li><a href="page diagnostic.html" target="_blank">Diagnostic</a></li>   
            </ul>
        </div><br/><br/>
        <span style="color:cadetblue;font-weight: bold" th:text="'Patient '+${patient.id_patient}+' : '+${patient.prenom} +' '+ ${patient.nom}">Pas de patient</span>
        <br/><br/>
        <table>
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Nom de l'examen</th>
                    <th>Type de l'examen</th>
                    <th>Date de l'examen</th>
                    <th>Patient</th>
                    <th>Commentaires</th>
                </tr>
            </thead>
            <tbody th:each = "e:${examens}">
                <tr>

                    <td th:text = "${e.id_examen}"></td>
                    <td th:text = "${e.nom_examen}"></td>
                    <td th:text = "${e.est_examen_clinique}? 'Examen clinique' : 'Examen para-clinique'"></td>
                    <td th:text = "${e.date_examen}"></td>
                    <td th:text="${e.patient_examen.prenom}+' '+${e.patient_examen.nom}"></td>
                    <td>
                        <ul>
                            <li th:each ="v:${e.valeur_examen}">
                                <!--si la valeur est vraie on affiche le commentaire, sinon on affiche que la valeur n'est pas vraie -->
                                <span th:text="${v.est_valeur}==true?${v.nom_valeur}+' : '+${v.valeur}:'Pas de '+${#strings.toLowerCase(v.nom_valeur)}"/>             
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul>Examens cliniques :
            <li><a th:href="@{addSignesGeneraux(idPatient=${patient.id_patient})}">Ajouter un examen de signes généraux</a></li> 
            <li><a href="formulaireExamenRegionCervicale" th:href="@{../examen/addregioncervicale(idPatient=${patient.id_patient})}" target="_blank">Ajouter un examen de la région cervicale</a></li>
            <li><a href="formulaireExamenOphtalmologique" th:href="@{../examen/addexamenophtalmo(idPatient=${patient.id_patient})}">Ajouter un examen ophtalmologique</a></li>
            <li><a href="formulaireExamenNeurologique" th:href="@{../examen/addexamenneuro(idPatient=${patient.id_patient})}" >Ajouter un examen neurologique</a></li>
            <li><a href="formulaireExamenAireGanglionnaire" th:href="@{../examen/addexamenaireganglionnaire(idPatient=${patient.id_patient})}">Ajouter un examen de l'aire ganglionnaire</a></li>
        </ul>
        <ul>Examens para-cliniques :
            <li><a href="formulaireExamenBiologique" th:href="@{../examen/addexamenbiologique(idPatient=${patient.id_patient})}">Ajouter un examen biologique</a></li>
            <li><a href="formulaireExamenMorphologique" th:href="@{../examen/addexamenmorphologique(idPatient=${patient.id_patient})}">Ajouter un examen morphologique</a></li>
            <li><a href="formulaireExamenSignesFonctionnels" th:href="@{../examen/addexamensf(idPatient=${patient.id_patient})}">Ajouter un signe fonctionnel</a></li>
        </ul>
    </body>
</html>
