<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../css/CSS.css"/>
        <title>Page des examens</title>  
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="page patient.html">Patient</a></li>
                <li><a href="page données générales.html" target="_blank">Données générales</a></li>

                <li><div class="menus"><a href="#">Examens</a></div><ul>   
                        <li><div class="menus"><a href="#">Examens cliniques</a></div><ul>
                                <li><a href="formulaireExamenSignesGeneraux" th:href="@{../examen/addSignesGeneraux(idPatient=${patient.id_patient})}" target="_blank">Signes généraux</a></li>
                                <li><a href="formulaireExamenRegionCervicale" th:href="@{../examen/addregioncervicale(idPatient=${patient.id_patient})}" target="_blank">Examen région cervicale</a></li>
                                <li><a href="adresse url" target="_blank">Examen ophtalmologique</a></li>
                                <li><a href="adresse url" target="_blank">Examen neurologique</a></li>
                                <li><a href="adresse url" target="_blank">Examen aire ganglionnaire</a></li>
                            </ul></li>

                        <li><div class="menus"><a href="#">Examens paracliniques</a></div><ul>
                                <li><a href="adresse url" target="_blank">Morphologique</a></li>
                                <li><a href="adresse url" target="_blank">Biologique</a></li>
                                <li><a href="adresse url" target="_blank">Fonctionnel</a></li>
                            </ul></li>
                    </ul></li>

                <li><a href="page photos.html" target="_blank">Photos</a></li>

                <li><a href="page diagnostic.html" target="_blank">Diagnostic</a></li>   
            </ul>
        </div><br/><br/>

        <table>
            <thead>
                <tr>

                    <td>Id</td>
                    <td>Nom de l'examen</td>
                    <td>Type de l'examen</td>
                    <td>Date de l'examen</td>
                    <td>Patient</td>
                    <td>Commentaires</td>
                </tr>
            </thead>
            <tbody th:each = "e:${examens}">
                <tr>

                    <td th:text = "${e.id_examen}"></td>
                    <td th:text = "${e.nom_examen}"></td>
                    <td th:text = "${e.est_examen_clinique}? 'Examen clinique' : 'Examen para-clinique'"></td>
                    <td th:text = "${e.date_examen}"></td>
                    <td th:text="${e.patient_examen.prenom}+' '+${e.patient_examen.nom}"></td>
                    <td>
                        <ul>
                            <li th:each ="v:${e.valeur_examen}">
                                <!--si la valeur est vraie on affiche le commentaire, sinon on affiche que la valeur n'est pas vraie -->
                               <span th:text="${v.est_valeur}==true?${v.nom_valeur}+' : '+${v.valeur}:'Pas de '+${#strings.toLowerCase(v.nom_valeur)}"/>             
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{addSignesGeneraux(idPatient=${patient.id_patient})}">Retour</a>
    </body>
</html>
