<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../css/CSS.css"/>
        <title>Page données générales</title>  
    </head>
    <body>

        <div class="menu">
            <ul>
                <!-- id patient à changer-->
                <li><a href="detailPatient.html" th:href="@{../patient/getPatient(idPatient=${patient.id_patient})}">Patient</a></li>
                <li><a href="#">Données générales</a></li>

                <li><div class="menus"><a href="afficheExamen.html">Examens</a></div><ul>   
                        <li><div class="menus"><a href="#">Examens cliniques</a></div><ul>
                                <li><a href="adresse url" target="_blank">Signes généraux</a></li>
                                <li><a href="adresse url" target="_blank">Examen region cevicales</a></li>
                                <li><a href="adresse url" target="_blank">Examen ophtalmologique</a></li>
                                <li><a href="adresse url" target="_blank">Examen neurologique</a></li>
                                <li><a href="adresse url" target="_blank">Examen aire ganglionnaire</a></li>
                            </ul></li>

                        <li><div class="menus"><a href="#">Examens paracliniques</a></div><ul>
                                <li><a href="adresse url" target="_blank">Morphologique</a></li>
                                <li><a href="adresse url" target="_blank">Biologique</a></li>
                                <li><a href="adresse url" target="_blank">Fonctionnel</a></li>
                            </ul></li>
                    </ul></li>

                <li><a href="page photos.html" target="_blank">Photos</a></li>
                <!-- id patient à changer--><!--${patient.id_patient}-->
                <li><a href="afficheDiagnostic.html" th:href="@{../diagnostic/show(idPatient=1)}" target="_blank">Diagnostic</a></li>
            </ul>
        </div>
        <br/>
        <br/>


        <!--***********************************************************************************************-->         
        <section>
            <aside>
                <form name="formAnamnese" th:action="@{../anamnese/save}"th:object="${anamnese}" method="post"  >
                    <fieldset id="premierform">
                        <legend>Circonstance de découverte</legend>
                        <label for="anamnese"> Complication par des signes de compression loco-régionale:</label>
                            <select id="anamnese" th:field="*{signe_de_compression}" required="required">
                                <option th:value="true" th:text="Oui"></option>
                                <option th:value="false" th:text="Non"></option>    
                            </select> <br/>
                       <th:block th:each ="val_sc : *{valeur_signe_compression}">
                            <label th:text="${val_sc.nom_valeur_signe_compression}" th:field="${val_sc.nom_valeur_signe_compression}"></label>
                            <input type="checkbox" th:field="*{valeur_signe_compression[__${val_sc.id_valeur_signe_compression}__].est_valeur_sc}"/><br/>
                        </th:block>
                            <div>
                        
                                <!-- <label for="type_sf">Signe fonctionnel de dysthyroïdie:</label>
                        <select id="type_sf" th:field="*{type_sf}" required="required">
                            <option th:each="sf :${type_sf} " th:value="${sf.value()}" th:text="${sf.value()}"></option>
                            
                            
                        </select>-->
                            </div>
                       <!--   <label for="signe1">Hypertyroïdie</label>
                        <select id="signe1">
                            <option value="am" selected="selected">amaigrissement</option>
                            <option value="ag">agitation</option>
                            <option value="th">thermophobie</option>
                            <option value="pa">palpation</option>
                            <option value="di">diarrhée motrice</option>
                            <option value="as">asthénie musculaire avec amyotrophie</option>
                            <option value="trf">tremblement fin</option>
                            <option value="trr">tremblement rapide régulier des extremités</option>
                        </select><br/>
                        <label for="signe2">Hypothyroïdie</label>
                        <select id="signe2">
                            <option value="ast" selected="selected">asthénie physique</option>
                            <option value="asp">asthénie psychique</option>
                            <option value="ass">asthénie sexuelle</option>
                            <option value="ch">chute de cheveux</option>
                            <option value="dim">diminution pilosité</option>
                            <option value="fr">frilosité</option>
                            <option value="co">constipation</option>
                            <option value="vo">voix rauque</option>
                            <option value="ro">ronflement nocturne</option>
                            <option value="cr">crampes musculaires</option>
                            <option value="so">somnolence</option>
                        </select><br/>     

                        <label for="case1">Euthyroïdie</label>
                        <input name="case1" id="case1" type="checkbox" value="1"/><br/><br/>
                            -->

                        <p>histoire de la maladie</p>
                        <textarea name="histoire" id="histoire" cols="30" rows="3"></textarea>
                    </fieldset>
                    <input type="submit" value="Enregistrer">
                <input type="reset" value="Réinitialiser" />
                <a th:href="@{/atcdperso/add}">Entrée les antécedents personnels</a>
                </form>
            </aside>
            <aside>

            </aside>
        </section>
        
            <!-----------------------------------------------------------------------------------------------------> 
            <aside>
                <form name="form3" action="script.php" method="post">
                    <fieldset id="secondform">
                        <legend><b>Antécédents familiaux</b></legend>
                        <label for="case27'">cancer tyroïde dans la famille</label>
                        <input name="case27'" id="case27" type="checkbox" value="27"/><br>

                            <label for="case28'">Néoplasie endocrinienne multiple type II</label>
                            <input name="case28'" id="case28" type="checkbox" value="28"/><br>

                                </fieldset>
                                </form>
                                </aside>
                                <!-----------------------------------------------------------------------------------------------------> 

                                <aside>
                                    <form name="form4" action="script.php" method="post">
                                        <fieldset id="secondform">
                                            <legend><b>Antécédents chirurgicaux</b></legend>

                                            <input name="observations" type="text" /><br>

                                        </fieldset>
                                    </form>
                                </aside>

                                <!-----------------------------------------------------------------------------------------------------> 

                                <aside>
                                    <form name="form5" action="script.php" method="post">
                                        <fieldset id="secondform">
                                            <legend><b>Traitements en cours</b></legend>

                                            <input name="observations" type="text" /><br>

                                        </fieldset>
                                    </form>
                                </aside>
                                <!-----------------------------------------------------------------------------------------------------> 
                                <aside>
                                    <form name="form6" action="script.php" method="post">
                                        <fieldset id="secondform">
                                            <legend><b>Allergies</b></legend>

                                            <input name="observations" type="text" /><br>

                                        </fieldset>
                                    </form>
                                </aside>
                                <!-----------------------------------------------------------------------------------------------------> 

                                </section>
                                </body>

                                </html>