<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../css/CSS.css"/>
        <title>Patient</title>  
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="#">Patients</a></li>
                <li><a>Données générales</a></li>

                <li><div class="menus"><a>Examens</a></div><ul>   
                        <li><div class="menus"><a>Examens cliniques</a></div><ul>
                                <li><a>Signes généraux</a></li>
                                <li><a>Examen region cevicales</a></li>
                                <li><a>Examen ophtalmologique</a></li>
                                <li><a>Examen neurologique</a></li>
                                <li><a>Examen aire ganglionnaire</a></li>
                            </ul></li>

                        <li><div class="menus"><a>Examens paracliniques</a></div><ul>
                                <li><a>Morphologique</a></li>
                                <li><a>Biologique</a></li>
                                <li><a>Fonctionnel</a></li>
                            </ul>
                        </li>
                    </ul></li>

                <li><a>Photos</a></li>

                <li><a>Diagnostic</a></li>   
            </ul>
        </div><br/><br/>
   

       
        <a th:href="@{add(idMedecin=3)}" href="formulairePatient.html">Ajouter patient</a><br/><br/>
        <table>
            <thead>
                <tr>

                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Genre</td>
                    <td>Date de Naissance</td>
                    <td>Symptome</td>
                    <!--<td>Date de l'examen</td>
                    <td>Diagnostic</td>-->
                    <td>Medecin</td>
                    <td>Examens</td>
                </tr>
            </thead>
            <tbody th:each = "p:${patients}">
                <tr>

                    <td> <a th:href="@{../anamnese/add(idPatient=${p.id_patient})}" th:text = "${p.nom}"></a></td>
                    <td th:text = "${p.prenom}"></td>
                    <td th:text = "${p.genre}? 'Femme' : 'Homme'"></td>
                    <td th:text = "${p.date_naissance}"></td>
                   <!--   <td th:text = "${p.anamnese.mes_symptomes.nom}"></td>
                  <td th:text = "${p.patient_examen.date_examen}"></td>-->
                    <td th:text = "${p.anamnese}">[[${p.anamnese}]]</td>
                    <td th:if = "${p.medecin_patient==null}">Medecin inconnu</td>
                    <td th:unless = "${p.medecin_patient==null}">[[${p.medecin_patient.nom}]]</td>
                    <td><a th:href="@{../examen/show(idPatient=${p.id_patient})}">Voir les examens</a></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>