<!DOCTYPE html>
<html>
    <head>
          <meta charset="UTF-8"/>
          <link rel="stylesheet" media="screen" href="CSS.css"/>
          <title>Formulaire Patient</title>  
    </head>
    <body>
        <h1>Formulaire patient</h1>

        <h2>Nouveau patient</h2><br><br>

        <h3>Nom</h3><br>
        <input type="text"/>

        <h3>Prénom</h3><br>
        <input type="text"/>

        <h3>Date de naissance</h3><br>
        <input type="date"/><br><br>

        <input type="button" value="Valider">

    </body>

</html>