<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" media="screen" href="../css/CSS.css"/>
        <title>Formulaire examen</title>  
    </head>
    <body>

        <div class="menu">
            <ul> 
                <li><a href="affichePatients.html"  th:href="@{../patient/show(idMedecin=${examen.patient_examen.medecin_patient.id_medecin})}">Patients</a></li>
                <!--                <li><a href="detailPatient.html"  th:href="@{../patient/getPatient(idPatient=${patient_examen.id_patient})}" target="_blank">Données générales</a></li>-->

                <li><div class="menus"><a href="#">Examens</a></div>
                    <ul>   
                        <li><div class="menus"><a href="#">Examens cliniques</a></div>
                            <ul>
                                <li><a href="adresse url" target="_blank">Signes généraux</a></li>
                                <li><a href="adresse url" target="_blank">Examen region cevicales</a></li>
                                <li><a href="adresse url" target="_blank">Examen ophtalmologique</a></li>
                                <li><a href="adresse url" target="_blank">Examen neurologique</a></li>
                                <li><a href="adresse url" target="_blank">Examen aire ganglionnaire</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>

                        <li><div class="menus"><a href="#">Examens paracliniques</a></div>
                            <ul>
                                <li><a href="adresse url" target="_blank">Morphologique</a></li>
                                <li><a href="adresse url" target="_blank">Biologique</a></li>
                                <li><a href="adresse url" target="_blank">Fonctionnel</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="page photos.html" target="_blank">Photos</a></li>

                <li><a href="afficheDiagnostics.html" target="_blank">Diagnostic</a></li>      
            </ul>
        </div>
        <br/><br/>
        <section>
            <aside>
                <form name="form2" th:action="@{../examen/save}" th:object="${examen}" method="post">
                    <div style="">
                        <label for="patient_examen">Patient</label>
                        <select name="patient_examen">
                            <option th:value="${patient.id_patient}" th:text="${patient.prenom} +' '+ ${patient.nom}" th:field="*{patient_examen}"></option>
                        </select>
                    </div>
                    <fieldset id="examen">
                        <legend th:id="est_examen_clinique" th:name="est_examen_clinique" th:value="${est_examen_clinique}" th:field="*{est_examen_clinique}">Examens Cliniques</legend>
                        <aside>
                            <fieldset id="examen">
                                <legend>Signes généraux</legend>
                                <input type="text" disabled="disabled" th:id="${nom_examen}" th:name="${nom_examen}" th:field="*{nom_examen}">Signes généraux</input>
<!--                                th:value="${#temporals.formatISO(localDate)}"-->
                                <input th:value="${{localDate}}" type="date" th:field="*{date_examen}"/>
                                <br/>
                                <th:block th:each="val, valStat : *{valeur_examen}">
                                    <label th:text="${val.nom_valeur}" th:field="${val.nom_valeur}">null</label>
                                    <input type="checkbox" th:field="*{valeur_examen[__${val.id_valeur_examen}__].est_valeur}" />
                                    <!--                                    <label th:text="${val.id_valeur_examen}?:'null'"></label>-->
                                    <!--                                    <input type="checkbox" th:value="${val.est_valeur}" th:checked="${val.est_valeur}"/>-->
                                    <br/>
                                    <label for="valeur" > Saisir la valeur </label>
                                    <input id="valeur" type="text" th:field="*{valeur_examen[__${val.id_valeur_examen}__].valeur}"/>
                                    <!--                                    <input type="text" name="valeur" placeholder="saisir la valeur" th:field="*{val.valeur}"/>-->
                                    <br/><br/>
         
                                </th:block>
                            </fieldset>
                        </aside>
                        <button type="submit">Ajouter l'examen</button>
                    </fieldset>
                </form>
            </aside>
        </section>
        <!---------------------------------------------------------------------------------------------------------------->
        <!--        
                        <form name="form2" th:action="@{../examen/save}" th:object="${examen}" method="post">
                            <fieldset id="examen">
                                <legend>Examens Cliniques</legend>
                                <aside>
                                    <form name="form2" action="script.php" method="post">
                                        <fieldset id="examen">
                                            <legend>Signes généraux</legend>
        
                                            <input name="case1" id="case1" type="checkbox" value="true" th:checked="${true}" th:field="*{valeur_examen.estValeur}"/>
                                            <label for="case1" th:field="*{valeur_examen.nomValeur}">fièvre</label>
                                            <input type="text" name="valeur" placeholder="saisir la valeur" th:field="*{valeur_examen.valeur}"/><br/>
        
                                            <input name="case2" id="case2" type="checkbox" value="2"/>
                                            <label for="case2">prise de poids</label>
                                            <input type="text" name="valeur" placeholder="saisir la valeur"/><br/>
        
                                            <input name="case3" id="case3" type="checkbox" value="3"/>
                                            <label for="case3">perte de poids</label>
                                            <input type="text" name="valeur" placeholder="saisir la valeur"/><br/>
        
                                            <input name="case4" id="case4" type="checkbox" value="4"/>
                                            <label for="case4">tachycardie</label>
                                            <input type="text" name="valeur" placeholder="saisir la valeur"/><br/>
        
                                            <input name="case5" id="case5" type="checkbox" value="5"/>
                                            <label for="case5">bradychardie</label>
                                            <input type="text" name="valeur" placeholder="saisir la valeur"/><br/>
        
                                            <input name="case6" id="case6" type="checkbox" value="6"/>
                                            <label for="case6">hypertention artériel</label>
                                            <input type="text" name="valeur" placeholder="saisir la valeur"/><br/>
        
                                        </fieldset>
                                    </form>
                                </aside>
                                --------------------------------------------------------------------------------------------
                                <aside>
                                    <form name="form2" action="script.php" method="post">
                                        <fieldset id="examen">
                                            <legend>Examen région cervicale</legend>
        
                                            <h2><u>Inspection</u></h2>
        
                                            <input name="case7" id="case7" type="checkbox" value="7"/>
                                            <label for="case7">Circulation veineuse collatérale</label></br>
        
                                            <input name="case8" id="case8" type="checkbox" value="8"/>
                                            <label for="case8">Turgescence de la veine jugulaire</label></br>
        
                                            <input name="case6" id="case6" type="checkbox" value="6"/>
                                            <label for="case6">Coloration de la peau</label>
                                            <input type="text" name="valeur" placeholder="Observation"/></br>
        
                                            <h2><u>Palpation</u></h2>
        
                                            <label for="signe1">nature thyroïdienne de la masse</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">fixe</option>
                                                <option value="ag">mobile</option>
                                            </select></br>
        
                                            <label for="signe1">Volume thyroïdien supérieur à 1er phalange</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">oui</option>
                                                <option value="ag">non</option>
                                            </select><br/>
        
                                            <label for="signe1">Topographie</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">normale</option>
                                                <option value="ag">goître plongeant</option>
                                            </select><br/>
                                            <label for="signe1">Consistance</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">molle</option>
                                                <option value="ag">élastique</option>
                                                <option value="ag">dure</option>
                                                <option value="ag">ferme</option>
                                                <option value="ag">souple</option>
                                                <option value="ag">pierreuse</option>
                                            </select><br/>
                                            <label for="signe1">Caractère symétrique</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">oui</option>
                                                <option value="ag">non</option>
                                            </select><br/>
                                            <label for="signe1">Caractère régulier</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">oui</option>
                                                <option value="ag">non</option>
                                            </select><br/>
                                            <label for="signe1">Caractère douloureux</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">oui</option>
                                                <option value="ag">non</option>
                                            </select><br/>
                                            <label for="signe1">Signe vasculaire</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">thrill</option>
                                                <option value="ag">goître soufflant</option>
                                            </select><br/>
                                            <label for="signe1">adénopathie cervicale</label>
                                            <select id="signe1">
                                                <option value="am" selected="selected">jugulo-carotidienne</option>
                                                <option value="ag">pré-trachéale</option>
                                                <option value="th">sus claviculaire</option>
                                            </select><br/><br/>
        
                                            <input name="case1" id="case1" type="checkbox" value="1"/>
                                            <label for="case1">goître non visible mais palpable</label><br/>
        
                                            <input name="case1" id="case1" type="checkbox" value="1"/>
                                            <label for="case1">goître visible lors de l'hyper-extention du cou</label><br/>
        
                                            <input name="case1" id="case1" type="checkbox" value="1"/>
                                            <label for="case1">goître visible inférieur 5m </label><br/>
        
                                            <input name="case1" id="case1" type="checkbox" value="1"/>
                                            <label for="case1">goître visible supérieur 5m</label><br/>
        
                                            </aside>
                                            <input name="case1" id="case1" type="checkbox" value="1"/>
                                            <label for="case1">Myxoedème prétibial</label><br/>
        
                                            -------------------------------------------------------------------------------------
                                            <aside>
                                                <form name="form2" action="script.php" method="post">
                                                    <fieldset id="examen">
                                                        <legend>Examen Ophtalmologique</legend>
        
                                                        <input name="case1" id="case1" type="checkbox" value="1"/>
                                                        <label for="case1">Exophtalmie</label><br/>
        
                                                        <input name="case2" id="case2" type="checkbox" value="2"/>
                                                        <label for="case2">Perte queue</label><br/>
        
                                                    </fieldset>
                                                </form>
                                            </aside>
                                            --------------------------------------------------------------------------------------------
                                            <aside>
                                                <form name="form2" action="script.php" method="post">
                                                    <fieldset id="examen">
                                                        <legend>Examen Neurologique</legend>
        
                                                        <input name="case1" id="case1" type="checkbox" value="1"/>
                                                        <label for="case1">ROT vif</label><br/>
        
                                                        <input name="case2" id="case2" type="checkbox" value="2"/>
                                                        <label for="case2">ROT ralantis</label><br/>
        
                                                    </fieldset>
                                                </form>
                                            </aside>
                                            --------------------------------------------------------------------------------------------
                                            <aside>
                                                <form name="form2" action="script.php" method="post">
                                                    <fieldset id="examen">
                                                        <legend>Examen Aire ganglionnaire</legend>
        
                                                        <input name="case1" id="case1" type="checkbox" value="1"/>
                                                        <label for="case1">ganglion cervicale</label><br/>
        
                                                        <input name="case2" id="case2" type="checkbox" value="2"/>
                                                        <label for="case2">ganglion axillaire</label><br/>
        
                                                        <input name="case2" id="case2" type="checkbox" value="2"/>
                                                        <label for="case2">ganglion inguinal</label><br/>
        
                                                        <input name="case2" id="case2" type="checkbox" value="2"/>
                                                        <label for="case2">ganglion généralisé</label><br/>
        
                                                    </fieldset>
                                                </form>
                                            </aside>
                                            </aside>
                                        </fieldset>
                                        </section><br/><br/>
                                        --------------------------------------------------------------------------------------------
                                        <section>
                                            <aside>
                                                <form name="form2" action="script.php" method="post">
                                                    <fieldset id="examen">
                                                        <legend>Examens Para-cliniques</legend>
                                                        <aside>
                                                            <form name="form2" action="script.php" method="post">
                                                                <fieldset id="examen">
                                                                    <legend>Biologique</legend>
        
                                                                    <input name="case1" id="case1" type="checkbox" value="1"/>
                                                                    <label for="case1">Dosage de TSH</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case2" id="case2" type="checkbox" value="2"/>
                                                                    <label for="case2">Dosage T4L</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case3" id="case3" type="checkbox" value="3"/>
                                                                    <label for="case3">Doasge T3L</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case4" id="case4" type="checkbox" value="4"/>
                                                                    <label for="case4">NFS</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case5" id="case5" type="checkbox" value="5"/>
                                                                    <label for="case5">Plaquettes</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case6" id="case6" type="checkbox" value="6"/>
                                                                    <label for="case6">Glycémie</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case6" id="case6" type="checkbox" value="6"/>
                                                                    <label for="case6">Cholesterolémie</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case6" id="case6" type="checkbox" value="6"/>
                                                                    <label for="case6">Protéinurie</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case6" id="case6" type="checkbox" value="6"/>
                                                                    <label for="case6">Acétonurie</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case6" id="case6" type="checkbox" value="6"/>
                                                                    <label for="case6">Acétonurie</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case6" id="case6" type="checkbox" value="6"/>
                                                                    <label for="case6">Créatininémie</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case6" id="case6" type="checkbox" value="6"/>
                                                                    <label for="case6">Iodémie</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case6" id="case6" type="checkbox" value="6"/>
                                                                    <label for="case6">Anticorps antithyroïdiens</label>
                                                                    <input type="text" name="valeur" placeholder="saisir la valeur"/>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
                                                                </fieldset>
                                                            </form>
                                                        </aside>
                                                        ---------------------------------------------------------------------------------------------
                                                        <aside>
                                                            <form name="form2" action="script.php" method="post">
                                                                <fieldset id="examen">
                                                                    <legend>Morphologique</legend>
        
                                                                    <input name="case1" id="case1" type="checkbox" value="1"/>
                                                                    <label for="case1">Echographie Doppler Cervicale</label>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case2" id="case2" type="checkbox" value="2"/>
                                                                    <label for="case2">Radiographie du thorax</label>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case3" id="case3" type="checkbox" value="3"/>
                                                                    <label for="case3">Scanner cervicomédiastinal</label>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                    <input name="case4" id="case4" type="checkbox" value="4"/>
                                                                    <label for="case4">Scintographie thyroïdienne</label>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
                                                                </fieldset>
                                                            </form>
                                                        </aside>
                                                        ---------------------------------------------------------------------------------------
                                                        <aside>
                                                            <form name="form2" action="script.php" method="post">
                                                                <fieldset id="examen">
                                                                    <legend>Fonctionnel</legend>
        
                                                                    <input name="case1" id="case1" type="checkbox" value="1"/>
                                                                    <label for="case1">Cytoponction à l'aiguille fine</label>
                                                                    <input type="text" name="interprétation" placeholder="interprétation"/><br/>
        
                                                                </fieldset>
                                                            </form>
                                                        </aside>                                                
        
                                                        </section>
                                                    </fieldset>
                                                </form>
                                            </aside>
                                        </section>-->

    </body>
</html>