<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../css/CSS.css"/>
        <title>Page Antécedent personnel</title>  
    </head>
    <body>

        <div class="menu">
            <ul>
                <li><a href="affichePatients.html"  th:href="@{../patient/show(idMedecin=${patient.medecin_patient.id_medecin})}">Patients</a></li>
                <li><a href="afficheAnamnese" th:href="@{../anamnese/add(idPatient=${patient.id_patient})}">Données générales</a></li>

                <li><div class="menus"><a href="afficheExamens.html" th:href="@{../examen/show(idPatient=${patient.id_patient})}">Examens</a></div><ul>   
                        <li><div class="menus"><a href="#">Examens cliniques</a></div><ul>
                                <li><a href="formulaireExamenSignesGeneraux" th:href="@{../examen/addSignesGeneraux(idPatient=${patient.id_patient})}" target="_blank">Signes généraux</a></li>
                                <li><a href="formulaireExamenRegionCervicale" th:href="@{../examen/addregioncervicale(idPatient=${patient.id_patient})}" target="_blank">Examen région cervicale</a></li>
                                <li><a href="formulaireExamenOphtalmologique" th:href="@{../examen/addexamenophtalmo(idPatient=${patient.id_patient})}">Examen ophtalmologique</a></li>
                                <li><a href="formulaireExamenNeurologique" th:href="@{../examen/addexamenneuro(idPatient=${patient.id_patient})}" >Examen neurologique</a></li>
                                <li><a href="formulaireExamenAireGanglionnaire" th:href="@{../examen/addexamenaireganglionnaire(idPatient=${patient.id_patient})}">Examen aire ganglionnaire</a></li>
                            </ul></li>

                        <li><div class="menus"><a href="#">Examens paracliniques</a></div><ul>
                                <li><a href="formulaireExamenMorphologique" th:href="@{../examen/addexamenmorphologique(idPatient=${patient.id_patient})}">Examen morphologique</a></li>
                                <li><a href="formulaireExamenBiologique" th:href="@{../examen/addexamenbiologique(idPatient=${patient.id_patient})}">Examen biologique</a></li>
                                <li><a href="formulaireExamenSignesFonctionnels" th:href="@{../examen/addexamensf(idPatient=${patient.id_patient})}">Signe fonctionnel</a></li>
                            </ul>
                        </li>
                    </ul></li>

                <li><a href="page photos.html" target="_blank">Photos</a></li>
                <!-- id patient à changer--><!--${patient.id_patient}-->
                <li><a href="afficheDiagnostic" th:href="@{../diagnostic/show(idPatient=1)}" target="_blank">Diagnostic</a></li>
            </ul>
        </div>
        <br/>
        <br/>
        
        <section>
            <h2>Antécédents</h2>
            <aside>
                <form name="formAtcdPerso" th:action="@{../atcdperso/save}" th:object="${atcdperso}" method="post">
                    <fieldset id="secondform">
                        <legend><b>Antécédents médicaux</b></legend>
                        <!-- <label for="case5'">radiothérapie cervicale dans l'enfance</label>
                        <input name="case5'" id="case5" type="checkbox" value="5'"/><br/>

                        <p><b>Traitement de suivi</b></p>
                        <label for="case5">iodé</label>
                        <input name="case5" id="case5" type="checkbox" value="5"/><br/>
                        <label for="case6">lithium</label>
                        <input name="case6" id="case6" type="checkbox" value="6"/><br/>
                        <label for="case7">bétadine</label>
                        <input name="case7" id="case7" type="checkbox" value="7"/><br/>
                        <label for="case8">amiodarone</label>
                        <input name="case8" id="case8" type="checkbox" value="8"/><br/>
                        <label for="case9">L-Tyroxine</label>
                        <input name="case9" id="case9" type="checkbox" value="9"/><br/>

                        <p><b>infection ORL</b></p>
                        <label for="case10">sinusite</label>
                        <input name="case10" id="case10" type="checkbox" value="10"/><br/>
                        <label for="case11">angine</label>
                        <input name="case11" id="case11" type="checkbox" value="11"/><br/>
                        <label for="case12">syndrome grippal</label>
                        <input name="case12" id="case12" type="checkbox" value="12"/><br/>

                        <p><b>Toxiques</b></p>
                        <label for="case13">éthylique</label>
                        <input name="case13" id="case13" type="checkbox" value="13"/><br/>
                        <label for="case14">tabagique</label>
                        <input name="case14" id="case14" type="checkbox" value="14"/><br/>

                        <p><b>Aliment goitrigène</b></p>
                        <label for="case15">manioc</label>
                        <input name="case15" id="case15" type="checkbox" value="15"/><br/>
                        <label for="case16">chou</label>
                        <input name="case16" id="case16" type="checkbox" value="16"/><br/>
                        <label for="case17">sels iodés</label>
                        <input name="case17" id="case17" type="checkbox" value="17"/><br/>
                        <label for="case18">fruits de mer</label>
                        <input name="case18" id="case18" type="checkbox" value="18"/><br/>

                        <p><b>Maladie auto-immune</b></p>
                        <label for="case19">Polyarthrite rhumatoïde</label>
                        <input name="case19" id="case19" type="checkbox" value="19"/><br/>
                        <label for="case20">diabète type 1</label>
                        <input name="case20" id="case20" type="checkbox" value="20"/><br/>
                        <label for="case21">Maladie de Basedow</label>
                        <input name="case21" id="case21" type="checkbox" value="21"/><br/>
                        <label for="case22">Maladie de Hashimoto</label>
                        <input name="case22" id="case22" type="checkbox" value="22"/><br/>
                        <label for="case23">Insuffisance surrénalienne</label>
                        <input name="case23" id="case23" type="checkbox" value="23"/><br/>
                        <label for="case24">LED</label>
                        <input name="case24" id="case24" type="checkbox" value="24"/><br/>

                        <p><b>Gynécologie-obstétrique</b></p>
                        <label for="case25">date des dernières règles</label>
                        <input name="case25" id="case25" type="checkbox" value="25"/><br/>
                        <label for="case26">contraception</label>
                        <input name="case26" id="case26" type="checkbox" value="26"/><br/>
                        -->
                        <th:block th:each ="atcd : ${atcdperso}">
                            <label th:text="${atcd.nom_atcd_perso}" th:field="${atcd.nom_atcd_perso}"></label>
                            
                        </th:block>
                        
                    </fieldset></form>
            </aside>
        </section>
    </body>
</html>
