<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Page Accueil </title>
        <style>
            body {
              background-color: #62E3E2;
            }
          </style>

    </head>
    <body>
        
       
        <center><h1 style="font-size:36pt; color:whitesmoke"><i>SAD Goître</i></h1></center> 
      
        
        <input type="button" class="bouton" value="Lancer La Consultation">

            <div id="imgAccueil">
                <img src="IM1.PNG" height="970px" width="870px"/>
            </div>
            
           


</body>
</html>