<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <title> Page Accueil </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="../css/CSS.css"/>

    </head>
    <body>
        <center><h1 class="titre1">SAD Goître</h1></center> 
        <p class="hero-subheading">Bienvenue dans votre système d'aide à la décision</p>
        <a class="bouton" href="affichePatients.html" th:href="@{../patient/show(idMedecin=${medecin.id_medecin})}">Lancer la consultation</a>
        <!----<a href="afficheAnamnese.html" th:href="@{../anamnese/show(idPatient=1)}">Lancer l'anamnese</a>-->

        <img id="imgAccueil" src="../static/images/imagePageAcceuil.PNG" th:src="@{/images/imagePageAcceuil.PNG}"  alt="Image d'accueil"/>
        
        <!--<div class="hero-section.centered wf-section">
            <div data-w-id="" style="opacity:0" class="">
                <h1 class="titre1">SAD Goître</h1>
                <p class="hero-subheading">Votre système d'aide à la décision</p>
                <div>
                    <a href="#" class="button"> Lancer la consultation</a>
                </div>
            </div>
        </div>-->
    </body>
</html>